image:
  - Visual Studio 2019

pull_requests:
  do_not_increment_build_number: true

skip_branch_with_pr: true

branches:
  only:
    - master
    - develop
    - /release\/.*/
    - /hotfix\/.*/

test: off
build: off

environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
  #PUBLISH_TOKEN: token to JB-Marketplace for publishing


build_script:
  - ps: .\build.ps1 --target=CI --verbosity=Diagnostic

cache:
  - "tools -> recipe.cake"
#  - '%USERPROFILE%\.gradle\caches -> **\*.gradle, **\*.gradle.kts, gradle.properties' too big to cache.
  - '%USERPROFILE%\.gradle\wrapper -> **\gradle\wrapper\gradle-wrapper.properties'