---
Title: Cake for Rider development docs
NoSidebar: true
NoContainer: false
NoGutter: true
---
<div class="container">
  <p>This are the development-only docs for Cake for Rider.</p>
  <p>Things that appear here might not be available in the current released build.</p>
  <p>Documentation on the official released version is available at 
    <a href="https://cakebuild.net/docs/integrations/editors/rider/">the official documentation</a></p>
  <br>
  <br>
  <br>
  <br> 
  <p><a href='<?# Link "/docs/integrations/editors/rider/" /?>'>open develop docs directly</a></p>
</div>
